.dropdown-menu a:hover{
	background-color:#3666b9;
	color: #fff;
}

.dropdown-menu button:hover{
	background-color:#3666b9;
	color: #fff;
}

.notify-unseen{
	background-color: rgba(161, 206, 255, .25);
}
