
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link nav-title">
          <p><small><i class="fa fa-fw fa-phone-square"></i> +7 (3452) 565-300</small></p>
          <p><small><i class="fa fa-fw fa-envelope-square"></i> myemail@gmail.com</small></p>
        </a>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto" style="margin-left: 100px;">
      <li class="nav-item active">
        <a class="nav-link nav-title text-center" routerLink="">
          <h5>{{title}}</h5>
          <!-- <p>имени Дмитрия Ивановича Менделеева</p> -->
          <p><small>{{subTitle}}</small></p>
        </a>
       
      </li>
    </ul>
  </div>
  
  <div class="pull-right" *ngIf="user != null; else login">
    <!-- <a routerLink="profile"><small><em>{{roles[user.role.name]}} </em>: {{user.first_name}} {{user.last_name}} <i class="fa fa-fw fa-user-circle"></i> </small></a>
    <br> -->

    <a routerLink="/profile/notification" class="btn btn-warning btn-sm" tooltip="Просмотреть ваши уведомления" data-placement="bottom">
      <i class="fa fa-fw fa-bell"></i> <span class="badge badge-dark">4</span>
    </a>

    <div class="btn-group">
      <button type="button" class="btn btn-outline-warning dropdown-toggle dropdown-toggle-split btn-sm" data-toggle="dropdown" aria-expanded="false" tooltip="Меню пользователя" data-placement="bottom">
          <em>{{roles[user.role.name]}} </em>: {{user.first_name}} {{user.last_name}} <i class="fa fa-fw fa-user-circle"></i>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" *ngFor='let item of menu' routerLink="{{item.uri}}"><i class="{{item.icon}}"></i> {{item.title}}</a>
      </div>
    </div>

  </div>
  <ng-template #login>

    <div class="pull-right">
      <a class="btn btn-outline-info" routerLink="sign-in" tooltip="Войти или Зарегистрироваться в системе" data-placement="bottom"><i class="fa fa-fw fa-sign-in"></i> Войти</a>
    </div>

  </ng-template>
  
</nav>
<br><br>

<router-outlet></router-outlet>

<br><br>