.search-details p{
    padding: 0;
    margin: 0;
}

.card-document-availability{
    background-color: #28a745;
    width: 95px;
    padding:10px;
    border: 1px solid #22903b;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 0px;
}

.card-search-result{

    box-shadow: 2px 2px 5px #888888;

}

/* .card-search-result:hover{
    background-color: #dce7e8;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
  } */
